@use "../abstracts/mixins" as m;

.logo-container {
	@include m.media-breakpoint-up(lg) {
		height: 324px;
	}
	@include m.media-breakpoint-up(xl) {
		height: 385px;
	}
	@include m.media-breakpoint-up(xxl) {
		height: 446px;
	}
}

#nav-main {
	@include m.media-breakpoint-down(lg) {
		.container {
			max-width: 100%;
		}
	}
}

.header-actions {
	width: auto;
	@include m.media-breakpoint-down(lg) {
		width: 100%;
	}
}

.navbar-collapse {
	&.show,
	&.collapsing {
		@include m.media-breakpoint-down(lg) {
			background: black;
			color: white;
		}
	}
}
